body{
    padding: 50px;
    margin: auto;
}
div.contenedor{
    border: 5px solid blue;
    width: 120px;
    height: 190px;
    position: absolute;
   
    
}
h3.display {
   
    border: 1px solid blue;
    padding: 5px;


}
button{
    background-color: #4CAF50; 
    font-size: 12px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}